swagger: "2.0"
host: api.containership.io
basePath: /v3
schemes:
  - http
  - https
produces:
  - application/json
consumes:
  - application/json

info:
  version: "3.0.0"
  title: Containership Cloud API
  contact:
    name: Containership Developers
    email: developers@containership.io
    url: https://containership.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

paths:
  /account:
    get:
      summary: Get user account info
      operationId: getAccount
      tags:
        - account
      responses:
        "200":
          description: User account info
          schema:
            $ref: "#/definitions/Account"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  /organizations/{organization_id}/clusters:
    get:
      summary: List all clusters (attached or provisioned through Containership) for a given organization
      operationId: listClusters
      tags:
        - clusters
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
      responses:
        "200":
          description: A list of clusters
          schema:
            $ref: "#/definitions/Clusters"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  /organizations/{organization_id}/clusters/{cluster_id}:
    get:
      summary: Get a cluster
      operationId: getCluster
      tags:
        - cluster
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
        - in: path
          name: cluster_id
          required: true
          type: string
      responses:
        "200":
          description: A cluster
          schema:
            $ref: "#/definitions/Cluster"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  /organizations:
    get:
      summary: List all organizations
      operationId: listOrganizations
      tags:
        - organizations
      responses:
        "200":
          description: A list of organizations
          schema:
            $ref: "#/definitions/Organizations"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  /organizations/{organization_id}:
    get:
      summary: Get an organizations
      operationId: getOrganization
      tags:
        - organization
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
      responses:
        "200":
          description: An organization
          schema:
            $ref: "#/definitions/Organization"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  /organizations/{organization_id}/clusters/{cluster_id}/plugins:
    get:
      summary: List all plugins for a cluster
      operationId: listPlugins
      tags:
        - plugins
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
        - in: path
          name: cluster_id
          required: true
          type: string
      responses:
        "200":
          description: A list of plugins
          schema:
            $ref: "#/definitions/Plugins"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  /organizations/{organization_id}/clusters/{cluster_id}/plugins/{plugin_id}:
    get:
      summary: Get a plugin
      operationId: getPlugin
      tags:
        - plugins
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
        - in: path
          name: cluster_id
          required: true
          type: string
        - in: path
          name: plugin_id
          required: true
          type: string
      responses:
        "200":
          description: A plugin
          schema:
            $ref: "#/definitions/Plugin"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

definitions:
  Account:
    title: A user account
    type: object
    required:
      - id
      - created_at
      - updated_at
      - name
      - enabled
      - email
      - phone
      - avatar_url
    properties:
      id:
        title: Account ID
        $ref: "#/definitions/UUID"
      created_at:
        title: Timestamp at which the account was created
        type: string
      updated_at:
        title: Timestamp at which the account was updated
        type: string
      name:
        title: User name
        type: string
      enabled:
        title: Flag indicating if the account is enabled
        type: boolean
      email:
        title: Email associated with the account
        type: string
      phone:
        title: Phone number associated with the account
        type: string
      avatar_url:
        title: Avatar URL associated with the account
        type: string

  Cluster:
    title: A cluster attached or provisioned through Containership
    type: object
    required:
      - created_at
      - updated_at
      - id
      - organization_id
      - name
      - owner_id
      - api_server_address
      - worker_nodes_address
      - environment
      - version
      - provider_name
    properties:
      created_at:
        title: Timestamp at which the cluster was created
        type: string
      updated_at:
        title: Timestamp at which the cluster was updated
        type: string
      id:
        title: Cluster ID
        $ref: "#/definitions/UUID"
      organization_id:
        title: Organization ID of the organization the cluster belongs to
        $ref: "#/definitions/UUID"
      name:
        title: Cluster name
        type: string
      owner_id:
        title: Account ID of the cluster owner
        $ref: "#/definitions/UUID"
      api_server_address:
        title: API server address
        type: string
      worker_nodes_address:
        title: Worker nodes address
        type: string
      environment:
        title: Cluster environment
        type: string
      version:
        title: Kubernetes version
        type: string
      provider_name:
        title: Name of the provider through which the cluster is provisioned
        type: string

  Clusters:
    type: array
    items:
      $ref: "#/definitions/Cluster"

  Organization:
    title: A Containership organization
    type: object
    required:
      - id
      - name
      - owner_id
      - created_at
      - updated_at
      - locked
    properties:
      id:
        title: Organization ID
        $ref: "#/definitions/UUID"
      name:
        title: Name of the organization (typically a company name)
        type: string
      owner_id:
        title: User ID of the organization owner
        $ref: "#/definitions/UUID"
      created_at:
        title: Timestamp at which the organization was created
        type: string
      updated_at:
        title: Timestamp at which the organization was updated
        type: string
      locked:
        title: Flag indicating if the organization is locked
        description: If this flag is set to true, support must be contacted in order to re-enable access.
        type: boolean

  Organizations:
    type: array
    items:
      $ref: "#/definitions/Organization"

  Plugin:
    title: A Containership plugin
    type: object
    required:
      - created_at
      - updated_at
      - id
      - type
      - implementation
      - version
      - organization_id
      - cluster_id
      - configuration
    properties:
      created_at:
        title: Timestamp at which the plugin was created
        type: string
      updated_at:
        title: Timestamp at which the plugin was updated
        type: string
      id:
        title: Plugin ID
        $ref: "#/definitions/UUID"
      type:
        title: Plugin type, e.g. metrics
        type: string
      implementation:
        title: Plugin implementation, e.g. prometheus
        type: string
      version:
        title: Plugin version
        type: string
      organization_id:
        title: Organization ID
        type: string
      cluster_id:
        title: Cluster ID
        type: string
      configuration:
        title: Plugin configuration (varies per-plugin)
        type: object

  Plugins:
    type: array
    items:
      $ref: "#/definitions/Plugin"

  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string

  UUID:
    title: UUID
    type: string
    minLength: 36
    maxLength: 36
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
