swagger: "2.0"
host: provision.containership.io
basePath: /v3
schemes:
  - http
  - https
produces:
  - application/json
consumes:
  - application/json

info:
  version: "3.0.0"
  title: Containership Provision API
  contact:
    name: Containership Developers
    email: developers@containership.io
    url: https://containership.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

paths:
  /clusters:
    get:
      summary: List all CKE clusters
      operationId: listOrganizations
      tags:
        - clusters
      responses:
        "200":
          description: A list of CKE clusters
          schema:
            $ref: "#/definitions/CKEClusters"
        default:
          description: unexpected error TODO
          schema:
            $ref: "#/definitions/Error"

definitions:
  CKECluster:
    title: A Containership Kubernetes Engine (CKE) cluster
    type: object
    required:
      - created_at
      - updated_at
      - id
      - organization_id
      - owner_id
      - provider_id
      - provider_name
      - engine
      - configuration
      - status
      - provision_service_version
    properties:
      created_at:
        title: Timestamp at which the cluster was created
        type: string
      updated_at:
        title: Timestamp at which the cluster was updated
        type: string
      id:
        title: Cluster ID
        $ref: "#/definitions/UUID"
      organization_id:
        title: Organization ID of the organization the cluster belongs to
        $ref: "#/definitions/UUID"
      owner_id:
        title: User ID of the cluster owner
        $ref: "#/definitions/UUID"
      provider_id:
        title: ID of the provider through which the cluster is provisioned
        $ref: "#/definitions/UUID"
      provider_name:
        title: Name of the provider through which the cluster is provisioned
        type: string
      engine:
        title: Provisioning engine
        type: string
      configuration:
        title: TODO
        $ref: "#/definitions/CKEClusterConfiguration"
      status:
        title: Cluster status
        $ref: "#/definitions/CKEClusterStatus"
      provision_service_version:
        title: Version of the provision service used to provision this cluster
        type: string
  CKEClusters:
    type: array
    items:
      $ref: "#/definitions/CKECluster"
  CKEClusterConfiguration:
    type: object
    required:
      - provider
    properties:
      provider:
        type: object
  CKEClusterStatus:
    type: object
    required:
      - type
      - message
    properties:
      type:
        title: Type of status
        type: string
      message:
        title: Human-readable message
        type: string
      percent:
        title: Percent complete, if applicable
        type: number
        format: float
  UUID:
    title: UUID
    type: string
    minLength: 36
    maxLength: 36
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
