swagger: "2.0"
host: provision.containership.io
basePath: /v3
schemes:
  - http
  - https
produces:
  - application/json
consumes:
  - application/json

info:
  version: "3.0.0"
  title: Containership Provision API
  contact:
    name: Containership Developers
    email: developers@containership.io
    url: https://containership.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

paths:
  /clusters:
    get:
      summary: List all CKE clusters
      operationId: listOrganizations
      tags:
        - clusters
      responses:
        "200":
          description: A list of CKE clusters
          schema:
            $ref: "#/definitions/CKEClusters"
        default:
          description: unexpected error TODO
          schema:
            $ref: "#/definitions/Error"

definitions:
  CKECluster:
    title: A Containership Kubernetes Engine (CKE) cluster
    type: object
    required:
      - created_at
      - updated_at
      - id
      - organization_id
      - owner_id
      - provider_id
      - provider_name
      - engine
      - configuration
      - status
      - provision_service_version
    properties:
      created_at:
        title: Timestamp at which the cluster was created
        type: string
      updated_at:
        title: Timestamp at which the cluster was updated
        type: string
      id:
        title: Cluster ID
        $ref: "#/definitions/UUID"
      organization_id:
        title: Organization ID of the organization the cluster belongs to
        $ref: "#/definitions/UUID"
      owner_id:
        title: User ID of the cluster owner
        $ref: "#/definitions/UUID"
      provider_id:
        title: ID of the provider through which the cluster is provisioned
        $ref: "#/definitions/UUID"
      provider_name:
        title: Name of the provider through which the cluster is provisioned
        type: string
      engine:
        title: Provisioning engine
        type: string
      configuration:
        title: Cluster configuration
        $ref: "#/definitions/CKEClusterConfiguration"
      status:
        title: Cluster status
        $ref: "#/definitions/CKEClusterStatus"
      provision_service_version:
        title: Version of the provision service used to provision this cluster
        type: string

  CKEClusters:
    type: array
    items:
      $ref: "#/definitions/CKECluster"

  CKEClusterConfiguration:
    type: object
    required:
      - provider
    properties:
      provider:
        title: TODO
        type: object

  CKEClusterStatus:
    type: object
    required:
      - type
      - message
    properties:
      type:
        title: Type of status
        type: string
      message:
        title: Human-readable message
        type: string
      percent:
        title: Percent complete, if applicable
        type: number
        format: float

  NodePool:
    type: object
    required:
      - id
      - status
      - os
      - name
      - count
      - docker_version
      - kubernetes_mode
      - kubernetes_version
      - etcd
      - etcd_version
      - is_schedulable
    properties:
      id:
        title: Node Pool ID
        $ref: "#/definitions/UUID"
      status:
        title: Node Pool status
        $ref: "#/definitions/NodePoolStatus"
      os:
        title: Operating System
        type: string
      name:
        title: Name of this node pool
        type: string
      count:
        title: Number of nodes in this node pool
        type: number
        format: integer
      docker_version:
        title: Docker version running on this node pool
        type: string
      kubernetes_mode:
        title: Kubernetes mode (master or worker) for this node pool
        type: string
        enum: [master, worker]
      kubernetes_version:
        title: Kubernetes version running on this node pool
        type: string
      etcd:
        title: Flag indicating whether etcd is running on this node pool
        type: boolean
      etcd_version:
        title: etcd version running on this node, if applicable
        type: string
      is_schedulable:
        title: Flag indicating whether this node pool can be scheduled on
        type: boolean

  NodePoolStatus:
    type: object
    required:
      - type
      - message
    properties:
      type:
        title: Type of status
        type: string
      message:
        title: Human-readable message
        type: string
      percent:
        title: Percent complete, if applicable
        type: number
        format: float

  NodePools:
    type: array
    items:
      $ref: "#/definitions/NodePool"

  UUID:
    title: UUID
    type: string
    minLength: 36
    maxLength: 36

  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
