swagger: "2.0"
host: provision.containership.io
basePath: /v3
schemes:
  - http
  - https
produces:
  - application/json
consumes:
  - application/json

info:
  version: "3.0.0"
  title: Containership Provision API
  contact:
    name: Containership Developers
    email: developers@containership.io
    url: https://containership.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

paths:
  /organizations/{organization_id}/clusters:
    get:
      summary: List all CKE clusters for a given organization
      operationId: listClusters
      tags:
        - clusters
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
      responses:
        "200":
          description: A list of CKE clusters
          schema:
            $ref: "#/definitions/CKEClusters"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  /organizations/{organization_id}/clusters/{cluster_id}:
    get:
      summary: Get a CKE cluster
      operationId: getCluster
      tags:
        - cluster
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
        - in: path
          name: cluster_id
          required: true
          type: string
      responses:
        "200":
          description: A CKE cluster
          schema:
            $ref: "#/definitions/CKEClusters"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  /organizations/{organization_id}/clusters/{cluster_id}/node-pools:
    get:
      summary: List all node pools for a given CKE cluster
      operationId: listNodePools
      tags:
        - nodepools
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
        - in: path
          name: cluster_id
          required: true
          type: string
      responses:
        "200":
          description: A list of node pools
          schema:
            $ref: "#/definitions/NodePools"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  /organizations/{organization_id}/clusters/{cluster_id}/node-pools/{node_pool_id}:
    get:
      summary: Get a node pool
      operationId: getNodePool
      tags:
        - nodepool
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
        - in: path
          name: cluster_id
          required: true
          type: string
        - in: path
          name: node_pool_id
          required: true
          type: string
      responses:
        "200":
          description: A node pool
          schema:
            $ref: "#/definitions/NodePool"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  # TODO this will have to change to support multiple PATCH requests, not just scale
  /organizations/{organization_id}/clusters/{cluster_id}/node-pools/{node_pool_id}:
    patch:
      summary: Scale a node pool
      operationId: scaleNodePool
      tags:
        - nodepool
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
        - in: path
          name: cluster_id
          required: true
          type: string
        - in: path
          name: node_pool_id
          required: true
          type: string
        - in: body
          name: scale_node_pool_request
          schema:
            $ref: '#/definitions/ScaleNodePoolRequest'
      responses:
        "200":
          description: The updated node pool
          schema:
            $ref: "#/definitions/NodePool"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  /organizations/{organization_id}/clusters/{cluster_id}/node-pools/{node_pool_id}/nodes:
    get:
      summary: List all nodes in a given node pool
      operationId: listNodes
      tags:
        - nodes
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
        - in: path
          name: cluster_id
          required: true
          type: string
        - in: path
          name: node_pool_id
          required: true
          type: string
      responses:
        "200":
          description: A list of nodes
          schema:
            $ref: "#/definitions/Nodes"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  /organizations/{organization_id}/clusters/{cluster_id}/node-pools/{node_pool_id}/nodes/{node_id}:
    get:
      summary: Get a node
      operationId: getNode
      tags:
        - node
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
        - in: path
          name: cluster_id
          required: true
          type: string
        - in: path
          name: node_pool_id
          required: true
          type: string
        - in: path
          name: node_id
          required: true
          type: string
      responses:
        "200":
          description: A node
          schema:
            $ref: "#/definitions/Node"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  /organizations/{organization_id}/templates:
    get:
      summary: List all provisioning templates for a given organization
      operationId: listTemplates
      tags:
        - templates
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
      responses:
        "200":
          description: A list of provisioning templates
          schema:
            $ref: "#/definitions/Templates"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  /organizations/{organization_id}/templates:
    post:
      summary: Create a template
      operationId: createTemplate
      tags:
        - template
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
      responses:
        "200":
          description: A list of provisioning templates
          schema:
            $ref: "#/definitions/CreateTemplateRequest"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

  /organizations/{organization_id}/templates/{template_id}:
    get:
      summary: Get a provisioning template
      operationId: getTemplate
      tags:
        - template
      parameters:
        - in: path
          name: organization_id
          required: true
          type: string
        - in: path
          name: template_id
          required: true
          type: string
      responses:
        "200":
          description: A provisioning template
          schema:
            $ref: "#/definitions/Template"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"

definitions:
  CKECluster:
    title: A Containership Kubernetes Engine (CKE) cluster
    type: object
    required:
      - created_at
      - updated_at
      - id
      - organization_id
      - owner_id
      - provider_id
      - provider_name
      - engine
      - configuration
      - status
      - provision_service_version
    properties:
      created_at:
        title: Timestamp at which the cluster was created
        type: string
      updated_at:
        title: Timestamp at which the cluster was updated
        type: string
      id:
        title: Cluster ID
        $ref: "#/definitions/UUID"
      organization_id:
        title: Organization ID of the organization the cluster belongs to
        $ref: "#/definitions/UUID"
      owner_id:
        title: Account ID of the cluster owner
        $ref: "#/definitions/UUID"
      provider_id:
        title: ID of the provider through which the cluster is provisioned
        $ref: "#/definitions/UUID"
      provider_name:
        title: Name of the provider through which the cluster is provisioned
        type: string
      engine:
        title: Provisioning engine
        type: string
      configuration:
        title: Cluster configuration
        $ref: "#/definitions/CKEClusterConfiguration"
      status:
        title: Cluster status
        $ref: "#/definitions/CKEClusterStatus"
      provision_service_version:
        title: Version of the provision service used to provision this cluster
        type: string

  CKEClusters:
    type: array
    items:
      $ref: "#/definitions/CKECluster"

  CKEClusterConfiguration:
    type: object
    description: |
      The cluster configuration described here is not complete.
      Some fields are opaque / unlisted due to differences between providers.
      Only fields relevant to end users are described.
    required:
      - provider
      - resource
    properties:
      provider:
        title: Provider information
        type: object
      resource:
        title: Provider resources
        type: object

  CKEClusterStatus:
    type: object
    required:
      - type
      - message
    properties:
      type:
        title: Type of status
        type: string
      message:
        title: Human-readable message
        type: string
      percent:
        title: Percent complete, if applicable
        type: number
        format: float

  NodePool:
    type: object
    required:
      - id
      - status
      - os
      - name
      - count
      - docker_version
      - kubernetes_mode
      - kubernetes_version
      - etcd
      - etcd_version
      - is_schedulable
    properties:
      id:
        title: Node Pool ID
        $ref: "#/definitions/UUID"
      status:
        title: Node Pool status
        $ref: "#/definitions/NodePoolStatus"
      os:
        title: Operating System
        type: string
      name:
        title: Name of this node pool
        type: string
      count:
        title: Number of nodes in this node pool
        type: integer
        format: int32
      docker_version:
        title: Docker version running on this node pool
        type: string
      kubernetes_mode:
        title: Kubernetes mode (master or worker) for this node pool
        type: string
        enum: [master, worker]
      kubernetes_version:
        title: Kubernetes version running on this node pool
        type: string
      etcd:
        title: Flag indicating whether etcd is running on this node pool
        type: boolean
      etcd_version:
        title: etcd version running on this node, if applicable
        type: string
      is_schedulable:
        title: Flag indicating whether this node pool can be scheduled on
        type: boolean

  NodePoolStatus:
    type: object
    required:
      - type
      - message
    properties:
      type:
        title: Type of status
        type: string
      message:
        title: Human-readable message
        type: string
      percent:
        title: Percent complete, if applicable
        type: number
        format: float

  NodePools:
    type: array
    items:
      $ref: "#/definitions/NodePool"

  ScaleNodePoolRequest:
    type: object
    required:
      - count
    properties:
      count:
        title: Number of nodes in this node pool
        type: integer
        format: int32

  AutoscalingPolicy:
    type: object
    required:
      - name
      - policy
      - metric
      - poll_interval
      - sample_period
    properties:
      name:
        title: Name of this policy
        type: string
      id:
        title: AutoscalingPolicy ID
        $ref: "#/definitions/UUID"
      metrics_backend:
        title: MetricsBackend name associated with the AutoscalingPolicy
        type: string
      policy:
        title: Scaling policy
        $ref: "#/definitions/ScalingPolicy"
      metric:
        title: String representation of the target metric to monitor
        description: Available values are provided by the given MetricsBackend
        type: string
      metric_configuration:
        title: Arbitrary configuration object used to configure the metric polling
        type: object
      poll_interval:
        title: Number of seconds between polling the associated MetricsBackend
        type: integer
        format: int32
      sample_period:
        title: Number of seconds the AutoscalingPolicy must alert the threshold before the policy triggers a scale up or scale down action
        type: integer
        format: int32

  ScalingPolicy:
    type: object
    properties:
      # Note that one of these is required but swagger (OpenAPI 2.0)
      # doesn't support specifying that
      scale_up:
        title: Scale up policy
        $ref: "#/definitions/ScalingPolicyConfiguration"
      scale_down:
        title: Scale down policy
        $ref: "#/definitions/ScalingPolicyConfiguration"

  ScalingPolicyConfiguration:
    type: object
    required:
      - threshold
      - comparison_operator
      - adjustment_type
      - adjustment_value
    properties:
      threshold:
        title: Numerical representation of the threshold at which when the comparison evaluates to true, the associated AutoscalingGroups should scale
        type: number
        format: float
      comparison_operator:
        title: The comparison operator to use when comparing the MetricsBackend metric value to the threshold value
        type: string
        # TODO this breaks codegen - post process?
        # enum: [">", "<", ">=", "<=", "==", "!="]
      adjustment_type:
        title: Method by which to add capacity to the AutoscalingGroup
        description: Absolute represents an exact number of nodes, whereas percent represents a percentage (rounded up to the nearest whole number) of nodes in the pool.
        type: string
        enum: [absolute, percent]
      adjustment_value:
        title: Numerical representation of the number of nodes to scale the AutoscalingGroup down by determined by the adjustmentType
        type: integer
        format: int32

  Node:
    type: object
    required:
      - id
      - status
      - created_at
      - updated_at
    properties:
      id:
        title: Node ID
        $ref: "#/definitions/UUID"
      status:
        title: Node status
        $ref: "#/definitions/NodeStatus"
      created_at:
        title: Timestamp at which the node was created
        type: string
      updated_at:
        title: Timestamp at which the node was updated
        type: string

  NodeStatus:
    type: object
    required:
      - type
      - message
    properties:
      type:
        title: Type of status
        type: string
      message:
        title: Human-readable message
        type: string
      percent:
        title: Percent complete, if applicable
        type: number
        format: float

  Nodes:
    type: array
    items:
      $ref: "#/definitions/Node"

  UUID:
    title: UUID
    type: string
    minLength: 36
    maxLength: 36

  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string

  CreateTemplateRequest:
    type: object
    required:
      - engine
      - description
      - provider_name
      - configuration
    properties:
      engine:
        title: Engine to use for provisioning (deprecated - always containership_kubernetes_engine)
        type: string
        enum: [containership_kubernetes_engine]
      description:
        title: Description of this template
        type: string
        minLength: 1
      provider_name:
        title: Cloud provider name
        type: string
        enum: [digital_ocean, azure, google, amazon_web_services, packet]
      configuration:
        title: Template configuration
        $ref: '#/definitions/TemplateConfiguration'

  Template:
    type: object
    required:
      - created_at
      - updated_at
      - id
      - organization_id
      - owner_id
      - engine
      - description
      - provider_name
      - configuration
    properties:
      created_at:
        title: Timestamp at which the cluster was created
        type: string
      updated_at:
        title: Timestamp at which the cluster was updated
        type: string
      id:
        title: Cluster ID
        $ref: "#/definitions/UUID"
      organization_id:
        title: Organization ID of the organization the cluster belongs to
        $ref: "#/definitions/UUID"
      owner_id:
        title: Account ID of the cluster owner
        $ref: "#/definitions/UUID"
      engine:
        title: Engine to use for provisioning (deprecated - always containership_kubernetes_engine)
        type: string
        enum: [containership_kubernetes_engine]
      description:
        title: Description of this template
        type: string
      provider_name:
        title: Cloud provider name
        type: string
        enum: [digital_ocean, azure, google, amazon_web_services, packet]
      configuration:
        title: Template configuration
        $ref: '#/definitions/TemplateConfiguration'

  Templates:
    type: array
    items:
      $ref: '#/definitions/Template'

  TemplateConfiguration:
    type: object
    required:
      - resource
      - variable
    properties:
      resource:
        title: Provider-specific cloud resources
        $ref: '#/definitions/TemplateResource'
      variable:
        title: Provider-agnostic cloud resources
        $ref: '#/definitions/TemplateVariableMap'

  TemplateResource:
    type: object
    properties:
      digitalocean_droplet:
        $ref: '#/definitions/DigitalOceanDropletMap'
      packet_device:
        $ref: '#/definitions/PacketDeviceMap'

  DigitalOceanDropletMap:
    description: Map of node pool name to DigitalOcean droplet configuration
    type: object
    additionalProperties:
        $ref: '#/definitions/DigitalOceanDropletConfiguration'

  DigitalOceanDropletConfiguration:
    description: Configuration for a DigitalOcean droplet
    type: object
    required:
      - image
      - private_networking
      - region
      - size
    properties:
      backups:
        description: Enable droplet backups if true
        type: boolean
      image:
        description: Image to use for droplet
        type: string
      monitoring:
        description: Enable monitoring for droplet
        type: boolean
      private_networking:
        description: Enable private networking for droplet
        type: boolean
      region:
        description: Region for this droplet
        type: string
      size:
        description: Droplet size
        type: string

  PacketDeviceMap:
    description: Map of node pool name to Packet device configuration
    type: object
    additionalProperties:
        $ref: '#/definitions/PacketDeviceConfiguration'

  PacketDeviceConfiguration:
    description: Configuration for a Packet device
    type: object
    required:
      - project_id
      - facility
      - plan
    properties:
      project_id:
        description: Packet project ID
        $ref: '#/definitions/UUID'
      facility:
        description: Facility for this packet device
        type: string
      plan:
        description: Plan for this packet device
        type: string

  TemplateVariableMap:
    description: Map of variable resource name to object
    type: object
    additionalProperties:
      $ref: '#/definitions/TemplateVariableDefault'

  TemplateVariableDefault:
    type: object
    required:
      - default
    properties:
      default:
        $ref: '#/definitions/TemplateNodePool'

  TemplateNodePool:
    type: object
    required:
      - name
      - type
      - count
      - kubernetes_mode
      - kubernetes_version
    properties:
      name:
        description: Name of this node pool
        type: string
      type:
        description: Resource type (always node_pool)
        type: string
      type:
        description: Type of this resource (always node_pool)
        type: string
        enum: [node_pool]
      count:
        description: Number of nodes in this node pool
        type: integer
        format: int32
        minimum: 1
      kubernetes_mode:
        description: Kubernetes mode of this node pool (master or worker)
        type: string
        enum: [master, worker]
      kubernetes_version:
        description: Kubernetes version of this node pool (excluding leading 'v')
        type: string
      etcd:
        description: true if etcd runs on this node pool, else false (required if kubernetes_mode == master)
        type: boolean
      is_schedulable:
        description: true if this node pool is schedulable, else false (required if kubernetes_mode == master)
        type: boolean
